header, main, aside, footer {
  margin: 2em 0;
}

h1 {
  margin: 0 0 .75em;
  > small {
    display: block;
  }
}

.section {
  &__header {}
  &__description {}
}

p {
  margin: 0 0 1.5em;
}

footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list__links {
  display: flex;
  list-style: none;
  padding-left: 0;
  > li {
    margin: 0 .5em;
  }
}

.video {
	position: relative;
	padding-top: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}