extends _layouts/default

block head
  - var lang = 'en'
  - var locale = 'en_US'
  - var title = 'Tasho Ishi'
  - var description = 'a fatal nest of inevitable power'
  - var og_img = 'og.png';

block main
  .container-md
    h1
      img#brand(src=images + "brand.svg", alt="Tasho Ishi")
    .row
      .col-md-6
        p
          img(src=images + 'dentsu2060.jpg', alt='Jacket')
      .col-md-6
        h2
          | Dentsu2060
          small Tasho Ishi
        ol.list__inline
          li Dentsu2060
          li Birdland
          li w i n d c o a t
          li Satoshi Nakamoto
          li I Always Still Yakuza
          li Children of Bodom
          li Window of Honey Trap
          li Chase The Rainbow Bridge
          li Toshi
        .text__xs
          ul
            li Written, recorded, produced and mixed by Tasho ishi
            li Mix engineer by Kazuaki Oshima, Naoya Tokunou
            li Mastered by Giuseppe Ielasi
            li Recorded at Oshima midi center minami-aoyama
          dl.dl__horizontal
            dt Presto!?
            dd P!?033
          ul.list__horizontal
            li
              a(href='https://prestorecords.bandcamp.com', target='_blank')
                | BANDCAMP
            li
              a(href='https://open.spotify.com/album/6mA6ajZRIS3ieMdcx3tfgF', target='_blank')
                | SPOTIFY
            li
              a(href='https://music.apple.com/jp/album/dentsu2060/1469526506', target='_blank')
                | APPLE MUSIC
    .video
      iframe(width="560" height="315" src="https://www.youtube.com/embed/w87TCZbYdcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
    footer
      ul.list__horizontal
        li
          a(href='https://www.discogs.com/ja/artist/7232491-Tasho-Ishi', target='_blank')
            | DISCOGS
        li
          a(href='https://www.youtube.com/channel/UCYILV7whiaGllY65Gif27DQ/videos?view=0&sort=dd&shelf_id=1&view_as=subscriber', target='_blank')
            | YOUTUBE
        li
          a(href='mailto:tashoishi@gmail.com')
            | E-MAIL
      p.copyright
        | &copy;2019 Tasho Ishi